{% extends "base.html" %}
{% block title %}Coding Practice - Placement Prep{% endblock %}
{% block content %}
<h1>💻 Coding Practice</h1>

<table border="1" cellpadding="8">
    <tr><th>Topic</th><th>Problem</th><th>Difficulty</th></tr>
    <tr><td>Arrays</td><td>Find the second largest element in an array</td><td>Easy</td></tr>
    <tr><td>Strings</td><td>Check if a string is a palindrome</td><td>Easy</td></tr>
    <tr><td>Linked List</td><td>Reverse a linked list</td><td>Medium</td></tr>
    <tr><td>Dynamic Programming</td><td>0/1 Knapsack Problem</td><td>Hard</td></tr>
</table>
{% endblock %}