{% extends "base.html" %}
{% block title %}Company Info - Placement Prep{% endblock %}
{% block content %}
<h1>🏢 Company Information</h1>

<h3>TCS</h3>
<p>Rounds: Aptitude, Coding, Technical, HR</p>
<p>Typical Package: 3.5-7 LPA</p>
<p>Focus Areas: Aptitude & communication</p>
<hr>

<h3>Infosys</h3>
<p>Rounds: Online Test, Technical, HR</p>
<p>Typical Package: 3.6-8 LPA</p>
<p>Focus Areas: Pseudocode & basics</p>
<hr>

<h3>Wipro</h3>
<p>Rounds: Aptitude, Coding, HR</p>
<p>Typical Package: 3.5-6.5 LPA</p>
<p>Focus Areas: Aptitude heavy</p>
<hr>

<h3>Accenture</h3>
<p>Rounds: Cognitive, Technical, HR</p>
<p>Typical Package: 4.5-9 LPA</p>
<p>Focus Areas: Coding + communication</p>
{% endblock %}